<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>English</key>
	<array>
		<string>en</string>
		<string>US</string>
	</array>
	<key>Spanish</key>
	<array>
		<string>es</string>
		<string>ES</string>
	</array>
	<key>French</key>
	<array>
		<string>fr</string>
		<string>FR</string>
	</array>
	<key>German</key>
	<array>
		<string>de</string>
		<string>DE</string>
	</array>
	<key>Italian</key>
	<array>
		<string>it</string>
		<string>IT</string>
	</array>
	<key>Japanese</key>
	<array>
		<string>ja</string>
		<string>JP</string>
	</array>
	<key>Korean</key>
	<array>
		<string>ko</string>
		<string>KR</string>
	</array>
	<key>Arabic</key>
	<array>
		<string>ar</string>
		<string>SA</string>
	</array>
	<key>Czech</key>
	<array>
		<string>cs</string>
		<string>CZ</string>
	</array>
	<key>Danish</key>
	<array>
		<string>da</string>
		<string>DK</string>
	</array>
	<key>Dutch</key>
	<array>
		<string>nl</string>
		<string>NL</string>
	</array>
	<key>Finnish</key>
	<array>
		<string>fi</string>
		<string>FI</string>
	</array>
	<key>Greek</key>
	<array>
		<string>el</string>
		<string>GR</string>
	</array>
	<key>Hindi</key>
	<array>
		<string>hi</string>
		<string>IN</string>
	</array>
	<key>Hungarian</key>
	<array>
		<string>hu</string>
		<string>HU</string>
	</array>
	<key>Indonesian</key>
	<array>
		<string>id</string>
		<string>ID</string>
	</array>
	<key>Norwegian</key>
	<array>
		<string>no</string>
		<string>NO</string>
	</array>
	<key>Polish</key>
	<array>
		<string>pl</string>
		<string>PL</string>
	</array>
	<key>Portuguese</key>
	<array>
		<string>pt</string>
		<string>PT</string>
	</array>
	<key>Romanian</key>
	<array>
		<string>ro</string>
		<string>RO</string>
	</array>
	<key>Russian</key>
	<array>
		<string>ru</string>
		<string>RU</string>
	</array>
	<key>Slovak</key>
	<array>
		<string>sk</string>
		<string>SK</string>
	</array>
	<key>Swedish</key>
	<array>
		<string>sv</string>
		<string>SE</string>
	</array>
	<key>Thai</key>
	<array>
		<string>th</string>
		<string>TH</string>
	</array>
	<key>Turkish</key>
	<array>
		<string>tr</string>
		<string>TR</string>
	</array>
</dict>
</plist>
